- if current_user
  %li= link_to "Activity Feed", "#"
  %li= link_to "Accolades", "#"
  %li= link_to "Friends and Causes" ,friends_and_causes_path
-else
  %li= link_to "How it works", "#"
  %li= link_to "Our Mission", "#"
  %li= link_to "Causes", "#"